$theme-green: rgb(140, 181, 55);
$secondary-green: rgb(181 213 108);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$grey-100: rgb(240, 240, 240);
$grey-200: rgb(243, 243, 243);
$grey-300: rgb(206, 206, 206);
$grey-400: rgb(168, 168, 168);
$grey-500: rgb(8, 8, 10, 0.7);
